body {
    font-family: "Google Sans",Arial,sans-serif;
    padding-bottom: 100px;
    color: #212121;
}

.header {
    width: 100%;
    height: 56px;
    padding: 14px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #dadce0;
    box-sizing: border-box;
}

.logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: black;
}


.logo-image {
    margin-right: 10px;
}

.logo-text {
    font-size: 22px;
    line-height: 24px;
}

main{
    margin-top: 80px;
}

.main-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#urlInput {
    height: 44px;
    width: 38%;
    padding: 0 16px;
    margin-right: 10px;
}

#trackingBtn {
    background-color: rgb(0,102,255);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
}

.main-result {
    width: 90%;
    height: 70vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.chart-container {
    position: relative;
    width: 60%;
    padding: 20px;
}

.interval-controls {
    position: absolute;
    right: 0;
    margin-top: 30px;
    margin-right: 20px;
    display: none;
}

.interval-controls select {
    padding: 2px 5px;
}

#best-result {
    width: 25%;
    padding: 10px;
}

#desktop-results,
#mobile-results {
    display: none;
}

.results {
    width: 100%;
    margin-bottom: 30px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    width: 90px;
}

.score-circle {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: -30px;
}

.circle {
    stroke: #4CC790;
    fill: none;
    stroke-width: 2.5;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.circle-bg {
    fill: none;
    stroke-width: 3.8;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.score-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 600;
    z-index: 100;
}

.row {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}

.half {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.half span:nth-child(2) {
    display: block;
    margin-top: 8px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.half:nth-child(1) {
    margin-right: 30px;
}

.full {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full span:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
}

.results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results-header-type {
    width: 50%;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.results-header-icon {
    width: 25px;
    display: inline-block;
}

.results-header-title {
    font-size: 19px;
    font-weight: 540;
    margin-left: 8px;
}

.results-header-time {
    width: 50%;
    font-size: 14px;
}

.best-result-title {
    display: none;
    font-size: 26px;
    font-weight: 540;
}

.fast .result {
    color: #008800;
}

.moderate .result {
    color: #cf3b05;
}

.slow .result {
    color: #CC0000;
}

.slow .result-title::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #FF3333;
}

.moderate .result-title::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    background: #FFAA33;
    width: 10px;
    height: 10px;
}

.fast .result-title::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #00CC66;
}